body {
    /* background-color: rgb(27, 27, 27); */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    flex-direction: column;
}

form {
    text-align: center;
}

#showContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    margin: 20px;
}

